<%= form_for @meeting do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :date_time %>
  <%= f.datetime_field :date_time %><br>

  <%= f.label "Choose Creator" %><br>
    <select name="meeting[creator_id]" id="meeting_creator_id">
      <% @users.each do|u| %>
        <option value="<%= u.id %>"><%= u.full_name %></option>
      <% end %>
    </select>
    <br>
    <% @users.each do|u| %>
      <label for="meeting_invitee_id"><%= u.full_name %></label>
      <input type="checkbox" id="meeting_invitee_id" name="meeting[invitee_ids][]" value="<%= u.id %>"><br>
    <% end %>
  <%= f.submit %>
<% end %>
