<%= render "layouts/header" %>
<% if (@meeting.user_meetings.select{|um| um.user_id == session[:user_id]})[0] %>
    <% user_address = (@meeting.user_meetings.select{|um| um.user_id == session[:user_id]})[0].start_address %>
  <% else %>
    <% user_address = "Enter Your Address" %>
<% end %>
<p><%= link_to "Edit Meeting", edit_meeting_path(@meeting) %></p>
<div class="row">
  <div class="column"">
    <h3>Title: </h3><%=@meeting.title%>
    <h3>Your Start Address: </h3><%=user_address%>
    <h3>Date and Time: </h3><%=@meeting.date_time.to_formatted_s(:rfc822)%>
    <% meeting_place = @meeting.get_address(@meeting.midpoint_latitude, @meeting.midpoint_longitude) %>
    <h3>Suggested Meeting Location: </h3>
    <%=link_to meeting_place, "https://www.google.co.uk/maps/search/#{meeting_place}", target: :_blank%>
    <%= image_tag(@meeting.get_map(@meeting.midpoint_latitude, @meeting.midpoint_longitude)) %>

  </div>
  <div class="column"">
    <h3>People at Party!:</h3>
      <% @meeting.users.each do|mu| %>
        <p><i class="fa fa-user"> </i> <%=link_to mu.full_name, user_path(mu)%> - <%=  mu.user_meetings.map {|um| um.start_address}.first %></p>
      <% end %>
      <% @venues = Venue.all %>
    <h3>Venue Suggestions: </h3>
      <% @meeting.venues.each do|v| %>
        <p> <i class="fa fa-map-marker" style="font-size:20px;color:red;"></i> <%= link_to v.name, "https://www.google.co.uk/maps/search/#{v.name}+#{v.address}", target: :_blank %></p>
      <% end %>
  </div>
</div>
