
<%= render "layouts/header" %>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color: red;"> <%= e %> </p>
  <% end %>
<% else %>
<h1>User Details</h1>
<% end %>
<h2>Edit or Delete:</h2>
<%= render "form" %>
<%= form_for(@user, :method => :delete) do |f| %>
  <%= f.submit :value => "Delete User" %>
<% end %>
<hr>
<%= link_to "View All Users", users_path%><br>
