<%= render "layouts/header" %>
<h1>Your Details:</h1>
<div><strong>Name: </strong><%=@user.full_name%></div>
<div><strong>Email Address: </strong><%=@user.email%></div>
<strong>Meetings: <%= link_to "add new meeting", new_meeting_path %></strong>
  <% @user.meetings.each do|m| %>
    <div><%= link_to m.title, meeting_path(m)%></div>
  <% end %>
