
<h1>View User Details:</h1>
<p><strong>Name: </strong><%=@user.full_name%></p>
<p><strong>Email Address: </strong><%=@user.email%></p>
<strong>Meetings: <%= link_to "add new meeting", new_meeting_path %></strong>
  <% @user.meetings.each do|m| %>
    <p><%= link_to m.title, meeting_path(m)%></p>
  <% end %>

<hr>

<%= link_to "Edit or Delete User", edit_user_path(@user) %><br>
<%= link_to "View All Users", users_path%><br>
